[submodule "theme/reveal.js"]
	path = theme/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "theme/reveal.js-menu"]
	path = theme/reveal.js-menu
	url = https://github.com/denehyg/reveal.js-menu.git
